body{background: url("../img/background.jpg") ;
  background-size: cover;
  font-family: Montseratt;
}
.navv{
  font-family: Montseratt;
}


/* Navigation bar */

.navbar {
  padding-bottom: 4rem;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

/* Features Section*/

#features {
  padding: 4% 15%;
  text-align: center;
}

.feature-box {
  padding: 2%;
}

.icon {
  margin-bottom: 1rem;
  color: #FF0000;
}

.icon:hover {
  color: #B22222;
}


/* Testimonials Section*/

#testimonials {
  text-align: center;
  background-color: #CD5C5C;
  color: #fff;
  background-size: cover;
}

.carousel-item {
  padding: 10% 5%;
}

.testimonial-img {
  width: 70%;
  margin: 40px;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.btn2{
  position:relative;
  left:0;
  right:0;

  bottom:0;
  margin:auto;
  text-align: center;
}
.btn{
background: red;
}

.intro_inner{
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}
.intro_title{
  top: 1px;
  right: 5px;
  color: #fff;
  font-size: 85px;
  font-weight: 100px;
  text-transform: uppercase;
  position:relative;
  text-align: center;
  margin:auto;
}
.sup_title{
  top: 1px;
  left: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 50px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin:auto;
}
.container-fluid{
  padding: 7% 15%;
}
.section{
  background: url(img/background.jpg);
}
